<h1>New Comment</h1>
<div class="container">
<%= form_with model: [@post, @comment], url: user_post_comments_path(@post.author, @post), method: :post do |f| %>
  <div>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>

  <%= f.submit "Create Comment" %>
<% end %>
</div>
