/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
li{
  list-style-type: none;
}
 .hidden {
    display: none;
  }
  .index_user{
    display: flex;
    flex-direction: column;
   justify-content: center;
  }
  .user, .img{
    display: flex;
    border: 1px solid rgba(26,54,126,0.125);
    border-radius: 0.25rem;
  }
  .img{
    width: 20%;
  }
  .user{
    width: 70%;
    justify-content: space-between;
    padding: 1em;
  }
  .each_user{
    display: flex;
    gap: 1em;
    padding: 4%;
  }
  .user-bio,.post-list{
   margin: 4%;
    border: 1px solid rgba(26,54,126,0.125);
    max-width: 85%;
    padding: 1em;
    
  }
  .each_post{
    display: flex;
    flex-direction: column;
    margin: 3%;
    max-width: 86%;
    padding: 1em;
    gap: 0.5em;
  }
  .post,.comment{
    padding: 1em;
    border: 1px solid rgba(26,54,126,0.125);
  }
  
h1,.see-all-posts,.pagination{
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px #e5dcdc;
}
.coment_like{
  display: flex;
  justify-content: end;
  gap: 1em;
}
