/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #393939; /* Set the background color to black */
  color: #fff; /* Set the text color to white */
  font-family: 'Helvetica', Arial, sans-serif; /* Set the font-family */
  font-size: 16px; /* Set the font-size */
  font-weight: normal; /* Set the font-weight */
}

input,
select,
textarea,
.post-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

img {
  max-width: 10em;
}

/* Style the label to display next to the inputs */
label {
  padding: 8px 8px 8px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  margin-top: 12px;
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.check{
  color: white;
  padding: 4px 4px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: left;
}

/* Style the container */
.container {
  border-radius: 5px;
  margin: 3%;
  max-width: 86%;
  padding: 4em;
  border: 1px solid rgba(222, 210, 210, 0.13);
  box-shadow: 0 103px 100px rgba(142, 139, 139, 0.2);
}

a {
  color: white; /* Set the link color to white */
  text-decoration: none;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}

.index_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user,
.img {
  border: 1px solid rgb(240 240 240 / 13%);
  box-shadow: 0 103px 100px rgb(252 251 251 / 20%);
  display: flex;
  border-radius: 0.25rem;
}

.img {
  width: 20%;
}

.user {
  width: 70%;
  justify-content: space-between;
  padding: 1em;
}

.each_user {
  display: flex;
  gap: 1em;
  padding: 4%;
}

.user-bio,
.post-list {
  margin: 4%;
  border: 1px solid rgb(240 240 240 / 13%);
  box-shadow: 0 103px 100px rgb(252 251 251 / 20%);
  max-width: 85%;
  padding: 1em;
}

.each_post {
  display: flex;
  flex-direction: column;
  margin: 3%;
  max-width: 86%;
  padding: 1em;
  gap: 0.5em;
}

.post-button {
  margin: 3%;
}

.post,
.comment {
  padding: 1em;
  border: 1px solid rgb(240 240 240 / 13%);
  box-shadow: 0 103px 100px rgb(252 251 251 / 20%);
}

h1,
.see-all-posts,
.pagination {
  display: flex;
  justify-content: center;
}

h1 {
  text-shadow: 2px 2px #e5dcdc;
}

.coment_like {
  display: flex;
  justify-content: end;
  gap: 1em;
}
